

.navMask {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right: 0;

  background: rgba(0, 0, 0, 0.1);

  transition: all 0.5s;

  /*transform: translateX(-100%);*/

  z-index: 9;
  will-change: transform;

  display:none;
}


nav {
  /*margin:0 0 50px 0;*/
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  width: 300px;
  background: #fff;
  padding: 30px;
  will-change: transform;

  transition: all 0.5s;

  z-index: 10;
}

nav .toggle {
    position: absolute;
    right: -50px;
    top:30px;
    display:block;
    width: 25px;
    height: 15px;
    cursor: pointer;
}

nav .toggle .line{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 2px;
    background: #999;
    
    transition: all 0.5s;
    
    transform-origin: 0 0;
    
    
}

nav .toggle .line-bottom{
    top: auto;
    bottom:0;
    width: 80%;
}

nav .toggle:hover .line{
    background: #9b4dca;
}

nav .toggle.closed:hover .line{

    animation: navigation 0.5s;

}


@keyframes navigation {
    from {
        transform: scaleX(0)
    }
    to {
        transform: scaleX(100%)
    }
}


nav .toggle.open {
    
}

nav .toggle.open .line{
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    top: 50%;
}

nav .toggle.open .line-bottom{
    transform: rotate(-45deg);
    bottom: 50%;
    width: 100%;
}





nav h6 {
    text-transform: uppercase;
    color: #999;
    font-size: 14px;
    position: relative;
    padding-left: 25px;
}


nav h6:before {
    position: absolute;
    content: "";
    top: 8px;
    left:0;
    width: 10px;
    height: 1px;
    background: #ccc;
}

nav ul {
  list-style: none;
  padding: 0 0 0 25px;
  margin: 0;
  /*text-align: center;*/
}


nav li {
  /*display: inline-block;*/
  margin: 0 0 10px 0;
}

nav li a{
  display: block;
  text-decoration: none;
  margin: 0 0 0 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}

nav li a.active {
  /*border-bottom: 1px solid #ccc;*/
  color: #999;
}

