* {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  /*width: 100%;
  height: 100%;

  overflow: hidden;*/

}


body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}


.App {
  
}



.btn {
  display: inline-block;
  padding: 12px 15px;
  background: #00b5ef;
  color: #fff;
  border:0;
  cursor: pointer;
  font-weight: 600;
  /*text-transform: uppercase;*/
  border-radius: 2px;
  font-size: 15px;

  transition: all 0.3s;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: #333;
}

.btn.disabled {
  background: #ccc;
}


.box {
  background: #333;
  height: 10px;
  text-align: center;
  margin: 0 0 20px 0;
  overflow: hidden;
  /*border-radius: 2px;*/
}




.square {
  background: #333;
  width: 100px;
  height: 100px;
  margin: 0 0 20px 0;
  overflow: hidden;
  color: #fff;
} 




.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333;
  text-indent: -6000px;
  margin: 0 0 20px 0;
}









nav {
  margin:0 0 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


nav li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.route {
  border: 1px solid red;
}



.example-enter {
  opacity: 0.01;
  border: 1px solid red;
  display: block;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: all 2000ms ease-in;
  border: 1px solid red;
  display: block;
}

.example-leave {
  opacity: 1;
  display: block;
}

.example-leave.example-leave-active {
  display: block;
  opacity: 0.01;
  transition: all 2000ms ease-out;
}


.mask {
  position: absolute;
  top:0;
  left:0;
  background: #333;
  z-index: 1;
  width: 10px;
  height: 0;

  
}